.container {
  position: relative; /* Обязательно для размещения псевдоэлемента */


  .input {
    outline: none;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #3A3A3A;
    padding: 14px 20px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;

    &:focus {
      &::placeholder {
        color: #868686;
      }
    }

    &::placeholder {
      color: #868686;
    }
  }

  .searchActive {
    padding: 14px 46px;
  }

  .magnifier {
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
