.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 324px;
  height: 56px;

  font-size: 16px;
  font-weight: 700;
  line-height: 20.7px;

  white-space: nowrap;
  border-radius: 12px;
  transition: 0.2s all;
  cursor: pointer;

  svg {
    transition: 0.2s all;
  }

}

.small {
  width: 179px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.lightGreen {
  background-color: #00BB6D1A;
  color: #00BB6D;

  svg {
    fill: #00BB6D;
    stroke: #00BB6D;
  }

  &:hover {
    background-color: #00BB6D;
    color: #FFFFFF;

    svg {
      fill: #FFFFFF;
      stroke: #FFFFFF;
    }
  }
}

.lightPurple {
  background-color: #6A53F51A;
  color: #6A53F5;

  svg {
    fill: #6A53F5;
  }


  &:hover {
    background-color: #6A53F5;
    color: #FFFFFF;

    svg {
      fill: #FFFFFF;
    }
  }
}

.transparent {
  color: #3A3A3A;
  border: 1px solid #EAEAEA;

  &:hover {
    background-color: #EAEAEA;
    color: #3A3A3A;
  }
}

.purple {
  background-color: #6A53F5;
  color: #FFFFFF;

  &:hover {
    background-color: #4132D8;
  }
}