.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .rangeInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    span {
      width: 10px;
      height: 1px;
      background-color: #C4C4C4;
    }
  }


}


.customRangeSlider {
  display: flex;
  position: relative;
  border: none ;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: none ;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;


}
